/* ============================
  Fonts
============================ */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url(../fonts/ptsans.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: bold;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url(../fonts/ptsansbold.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.title-small {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.title-medium {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

/* ============================
  Header
============================ */

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 2px 0 20px 0 rgba(00, 01, 01, 0.1),
    -2px 0 20px 0 rgba(00, 01, 01, 0.1);
}

.main-header {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: #fff;
}

.main-nav img {
  display: inline-block;
  vertical-align: middle;
}

.header-logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 138px;
  height: 70px;
  z-index: 10;
}

.site-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.nav-cell {
  flex-basis: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-nav li:first-child {
  margin-left: 72px;
  text-align: left;
}

.site-nav li:nth-child(2) {
  text-align: left;
}

.nav-space {
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.site-nav li:nth-child(4) {
  text-align: right;
}

.site-nav li:last-child {
  margin-right: 72px;
  text-align: right;
}

.nav-link {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #81b3d2;
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-current {
  color: #766357;
}

/* ============================
  Feature Content Index
============================ */

.main-background {
  width: 1200px;
  height: 508px;
  background: url("../img/background-photo.jpg") #97c0da no-repeat center -56px;
}

.inner-img img {
  padding-top: 76px;
}

.feture-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
}

.reasons {
  margin: 0 auto;
  width: 600px;
  min-height: 216px;
  background-color: #fff;
  text-align: center;
}

.reason-title {
  max-width: 600px;
  margin: 0;
  padding-top: 60px;
  margin-bottom: 27px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.reason-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
}

/* Notes */

.notes {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 256px;
}

.notes span {
  margin: 0;
  display: block;
}

.note-inner {
  margin: 0;
  width: 400px;
  background: #81b3d2;
  text-align: center;
  color: #fff;
}

.note-text {
  margin: 0 auto;
  max-width: 320px;
  margin-top: 21px;
}

.note-title {
  max-width: 160px;
  height: auto;
  margin: 0 auto;
  margin-top: 47px;
  margin-bottom: 24px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  text-align: center;
}

.note-img-right {
  margin: 0;
  width: 800px;
  height: 256px;
  background: url("../img/city.jpg") #848778 no-repeat 50% 54%;
}

.note-img-left {
  margin: 0;
  width: 800px;
  height: 256px;
  background: url("../img/canyon.jpg") #d4775b no-repeat 50% 53%;
}

/* Feature Columns */

.feature-rec {
  padding: 0;
  margin: 0;
  min-height: 330px;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  background-color: #fff;
  list-style: none;
}

.column-rec {
  margin: 0;
  position: relative;
  width: 400px;
  text-align: center;
}

.column-rec h3 {
  margin: 0;
  padding-top: 161px;
  margin-bottom: 24px;
}

.text-rec {
  max-width: 290px;
  margin: 0 auto;
}

.icon-home {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 75px;
  height: 72px;
  margin: auto;
  background-image: url("../img/elements/icon-home.svg");
  background-repeat: no-repeat;
}

.icon-hamburger {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 74px;
  height: 70px;
  margin: auto;
  background-image: url("../img/elements/icon-hamburger.svg");
  background-repeat: no-repeat;
}

.icon-gift {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  width: 64px;
  height: 76px;
  margin: auto;
  background-image: url("../img/elements/icon-gift.svg");
  background-repeat: no-repeat;
}

.facts {
  padding: 0;
  margin: 0;
  min-height: 256px;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  background-color: #eeeeee;
  list-style: none;
}

.fact {
  margin: 0;
  width: 400px;
  text-align: center;
}

.fact h4 {
  margin: 0 auto;
  max-width: 150px;
  padding-top: 47px;
  margin-bottom: 24px;
}

.fact span {
  margin-bottom: 21px;
  display: block;
}

.fact p {
  margin: 0 auto;
  max-width: 260px;
}

/* ============================
  Search Form Index
============================ */

.form-title {
  position: relative;
  width: 1200px;
  height: 291px;
  margin: 0;
  text-align: center;
}

.form-title h3 {
  max-width: 568px; 
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 23px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.form-info {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.form-title button {
  position: absolute;
  width: 568px;
  height: 86px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.expand-button {
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  background-color: #766357;
  cursor: pointer;
}

.expand-button:hover {
  background-color: #604e43;
}

.expand-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.form-container {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 395px;
  background-color: transparent;
  z-index: 1;
}

.search-form {
  margin: 0 auto;
  width: 568px;
  height: 395px;
  background: #fff;
  box-shadow: 2px 0 20px 0 rgba(00, 01, 01, 0.1);
}

.search-form label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.search-form p:first-child {
  padding-top: 55px;
}

.field-container {
  position: relative;
  width: 500px;
  display: flex;
  margin: 0;
  margin-left: 56px;
  margin-bottom: 29px;
  align-items: center;
}

.field-label {
  margin: 0;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.field-label[for="arrival-date"] {
  padding-right: 22px;
}

.field-label[for="leaving-date"] {
  padding-right: 19px;
}

.field-label[for="adults"] {
  padding-right: 40px;
}

.field-label[for="children"] {
  padding-left: 52px;
  padding-right: 27px;
}

.field-input {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 331px;
  height: 38px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  border: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.field-input[type="text"] {
  padding-left: 14px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::placeholder {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.search-form input::placeholder {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.field-input:hover {
  background-color: #ebebeb;
}

.field-input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.icon-calendar {
  position: absolute;
  right: 46px;
  border-radius: 0;
  border: 0;
  background: none;
  cursor: pointer; 
}

.icon-calendar:hover path {
  fill: #000000;
}

.icon-calendar:active path {
  fill: #81b3d2;
}

.icon-calendar:focus {
  outline: 2px solid #e5e5e5;
}

.field-input-half {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 0;
  background-color: #f2f2f2;
  text-align: center;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.field-input-half:focus {
  outline: 2px solid #e5e5e5;
}

.button-amount {
  padding: 0;
  width: 38px;
  height: 38px;
  border: 0;
  border-radius: 0;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-amount:hover polygon {
  fill: #000000;
}

.button-amount:active polygon {
  fill: #81b3d2;
}

.button-amount:focus {
  outline: 2px solid #e5e5e5;
}

.button-find {
  margin-top: 26px;
  margin-left: 56px;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  background-color: #81b3d2;
  cursor: pointer;
}

.button-find:hover {
  background-color: #669ec0;
}

.button-find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* ============================
  Filter Catalog
============================ */

.filter-container {
  position: relative;
  margin: 0;
  width: 1200px;
  height: 217px;
  display: flex;
  justify-content: space-between;
  background: url("../img/catalog/filter-background.jpg") #608bb4 no-repeat 0 16%;
}

.filter-container fieldset {
  width: 200px;
  padding: 0;
  padding-left: 40px;
  margin-right: 13px;
  border: 0;
}

.filter-form {
  margin-top: 27px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.filter-title {
  margin-bottom: 24px;
  padding: 0;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.checkbox-list input[type="checkbox"] + label {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  cursor: pointer;
  user-select: none;
  margin-bottom: 23px;
}

.checkbox-list input:focus + label:before {
  outline: 2px solid #669ec0;
}

.checkbox-list input[type="checkbox"] + label:before {
  content: "";
  width: 27px;
  height: 23px;
  padding-right: 13px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/elements/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition-property: width, height;
  transition: 0.1s, 0.1s;
}

.checkbox-list input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

.checkbox-list input[type="checkbox"]:checked + label:before {
  content: "";
  width: 27px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/elements/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-list input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  width: 27px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/elements/checkbox-off-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-list input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  width: 27px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/elements/checkbox-on-dis.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
  position: absolute;
  right: 72px;
  width: 318px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding-left: 5px;
  color: inherit;
  font: inherit;
  background: none;
  border: 0;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-show {
  display: block;
  width: 133px;
  margin: 0 auto;
  padding: 6px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-show:hover {
  color: #000000;
  background: #ffffff;
}

/* ============================
  Sorting Catalog
============================ */

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 86px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.sort h3 {
  padding-left: 72px;
}

.links-container {
  display: flex;
  width: 902px;
}

.s-title {
  padding-left: 48px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.s-list {
  padding: 0;
  display: flex;
  padding-left: 40px;
  list-style: none;
}
.s-list li {
  padding-right: 32px;
}

.s-link {
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  border-bottom: 1px dotted #81b3d2;
  background: transparent;
  cursor: pointer;
}

.s-link:hover {
  color: #81b3d2;
}

.s-link:active {
  color: #000000;
  border-color: transparent;
}

.s-link-active {
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: #81b3d2;
}

.s-buttons {
  font-size: 0;
}

.s-buttons span {
  display: inline-block;
  vertical-align: middle;  
}

.s-button {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 6px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.triangle {
  padding: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #cacaca transparent;
}

.triangle--bottom {
  border-width: 10px 6px 0 6px;
  border-color: #81b3d2 transparent transparent transparent;
}

.triangle:hover {
  border-color: transparent transparent #231f20 transparent;
}

.triangle:active {
  border-color: transparent transparent #81b3d2 transparent;
}

.triangle--bottom:hover {
  border-color: #231f20 transparent transparent transparent;
}

.triangle--bottom:active {
  border-color: #81b3d2 transparent transparent transparent;
}

/* ============================
  Rating Catalog
============================ */

.offer-container {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.offer {
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 73px;
  padding-bottom: 30px;
  padding-right: 73px;
}

.img-preview {
  margin-right: 29px;
  width: 135px;
  height: 90px;
}

.offer-details {
  height: 90px;
  width: 800px;
}

.offer-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 2px;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.offer-title:hover {
  color: #669ec0;
}

.offer-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.offer-buttons a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.details-container span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 14px;
}

.offer-info span {
  width: 113px;
}

.offer-info {
  width: 100%;
  margin: 0;
}

.offer-buttons {
  width: 100%;
  margin: 0;
}

.btn-more {
  padding: 3px 17px;
  color: #ffffff;
  background-color: #81b3d2;
  margin-right: 2px;
}

.btn-more:hover {
  background-color: #669ec0;
}

.btn-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-reserv {
  padding: 3px 17px;
  color: #ffffff;
  background-color: #766357;
}

.btn-reserv:hover {
  background-color: #604e43;
}

.btn-reserv:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  width: 110px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}

.stars {
  width: 100%;
  height: 20px;
  margin-bottom: 42px;
}

.icon-star::before {
  content: "";
  width: 18px;
  height: 17px;
  padding-right: 1px;
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/elements/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.rating-text {
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
}

.rating-text span {
  display: inline-block;
  vertical-align: sub;
}

/* ============================
  Map
============================ */

.map-container {
  position: relative;
  margin: 0;
  width: 100%;
  height: 593px;
  overflow: hidden;
}

.map-container span {
  display: block;
}

.map-image {
  width: 100%;
  height: 593px;
  background: url("../img/map.jpg") #f2f1ef no-repeat 50% 99%;
}

/* ============================
  Footer
============================ */

.footer {
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-absolute {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer a {
  display: inline-block;
  vertical-align: middle;
}

.footer-absolute a {
  display: inline-block;
  vertical-align: middle;
}

.tw-tag {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin-left: 133px;
}

.social-list {
  margin-left: 33px;
}

.social-icons {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.icon-container {
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.icon-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}

.icon-container:hover {
  background-color: #669ec0;
}

.icon-container:active {
  background-color: #5496bd;
}

.icon-container:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  margin-right: 101px;
}

.footer-copyright span {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.footer-logo {
  width: 115px;
  height: 41px;
  vertical-align: middle;
}

.footer-logo:hover path {
  fill: #81b3d2;
}

.footer-logo:active path {
  fill: #bdbbbc;
}

/* ============================
  Accessibility
============================ */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
