/* Typography */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url(../fonts/ptsans.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: bold;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url(../fonts/ptsansbold.woff2) format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.title-small {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}

/* Container */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.main-header {
  width: 1200px;
  background-color: #ffffff;
}

.header-logo {
  width: 138px;
  height: 70px;
  margin: auto;
  position: absolute;
  left: 0; 
  right: 0;
}

/* Header Navigation */
.main-nav {
  width: 100%;
  position: relative;
}

.site-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav-cell {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-nav li:first-child {
  margin-left: 72px;
  text-align: left;
}

.site-nav li:nth-child(2) {
  text-align: left;
}

.nav-space {
  width: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.site-nav li:nth-child(4) {
  text-align: right;
}

.site-nav li:last-child {
  margin-right: 72px;
  text-align: right;
}

.nav-link {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.nav-current {
  color: #766357;
}

/* Welcome */
.main-background {
  width: 1200px;
  height: 508px;
  background-color: #fff;
  background-image: url("../img/background-photo.jpg");
  background-position: center -55px;
  background-repeat: no-repeat;
}

.main-img img {
  margin-top: 76px;
}

/* Notes */


.note-a {
  background-color: #fff;
  margin-bottom: 0;
  text-align: center;
  
}

.note-title {
  margin: 0;
  padding-top: 60px;
  margin-bottom: 30px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  
}

.note-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 26px;
  
}

/* Hero 1 */
.hero1 {
  display: flex;
  height: 256px;
}

.column-text {
  flex: 0 0 400px;
  background: #81b3d2;
  padding: 38px 0;
  margin: 0;
}

.column-text p {
  color: #fff;
  text-align: center;
}

.column-img {
  flex: 0 0 800px;
  width: 800px;
  height: 256px;
  background: #fff;
  background-image: url("../img/city.jpg");
  background-position: 50% 50%;
}

/* Feature Columns */
.feature-rec {
  display: flex;
  height: 330px; 
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.column-rec {
  margin: 0;
  width: 400px;
  text-align: center;
}

.text-rec {
  margin-top: 0;
}

.column-rec h3 {
  margin-top: 0;
  margin-bottom: 25px;
}

.icon-home {
  margin-top: 60px;
  margin-bottom: 23px;
}

.icon-hamburger {
  margin-top: 60px;
  margin-bottom: 23px;
}

.icon-gift {
  margin-top: 60px;
  margin-bottom: 23px;
}


/* Forms */
.checkbox-name {
  color: #fff;
}


/* Filter Catalog */
.selection-form-container {
  
}

.checkbox-list {
  list-style: none;
}

.filter-title {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.button-show {
  color: #fff;
}

/* Sorting */

.sort {
  width: 100%;
  height: 86px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.results {
  display: flex;
  list-style: none;
}

.sort-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-link {
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.link-style {
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort-button {
  background-color: transparent;
  border: none;
}


/* Accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

